In [1]:
CREATE TABLE Customer
(
    Id INT NOT NULL PRIMARY KEY,
    Name VARCHAR(255),
    CustomerType CHAR(1)
)

CREATE TABLE DebitOrders
(
    Id INT NOT NULL PRIMARY KEY,
    DebitType CHAR(1),
    Amount DECIMAL,
    Customer_Id INT
        FOREIGN KEY REFERENCES Customer (Id)
)

INSERT INTO Customer
VALUES
    (
        1, 'Ruchin', 'P'
    )
INSERT INTO Customer
VALUES
    (
        2, 'Mia', 'P'
    )
INSERT INTO Customer
VALUES
    (
        3, 'Shray', 'O'
    )
INSERT INTO Customer
VALUES
    (
        4, 'Brinda', 'P'
    )
INSERT INTO Customer
VALUES
    (
        5, 'Parul', 'O'
    )
INSERT INTO Customer
VALUES
    (
        6, 'Usha', 'O'
    )
INSERT INTO Customer
VALUES
    (
        7, 'Ravi', 'O'
    )
INSERT INTO Customer
VALUES
    (
        8, 'Joe', 'O'
    )

INSERT INTO DebitOrders
VALUES
    (
        1, 'S', 10.00, 1
    )
INSERT INTO DebitOrders
VALUES
    (
        2, 'I', 100.00, 1
    )
INSERT INTO DebitOrders
VALUES
    (
        3, NULL, 10.00, 1
    )
INSERT INTO DebitOrders
VALUES
    (
        4, 'S', 10.00, 2
    )
INSERT INTO DebitOrders
VALUES
    (
        5, 'S', 10.00, 2
    )
INSERT INTO DebitOrders
VALUES
    (
        6, 'I', 10.00, 3
    )
INSERT INTO DebitOrders
VALUES
    (
        7, 'I', 10.00, 3
    )
INSERT INTO DebitOrders
VALUES
    (
        8, 'I', 10.00, 4
    )
INSERT INTO DebitOrders
VALUES
    (
        9, 'S', 10.00, 5
    )
INSERT INTO DebitOrders
VALUES
    (
        10, NULL, 10.00, 6
    )
INSERT INTO DebitOrders
VALUES
    (
        11, 'S', 10.00, 7
    )
INSERT INTO DebitOrders
VALUES
    (
        12, 'I', 10.00, 7
    )
INSERT INTO DebitOrders
VALUES
    (
        13, 'I', 10.00, 8
    )

In [4]:
select * from customer

select * from debitorders

Id,Name,CustomerType
1,Ruchin,P
2,Mia,P
3,Shray,O
4,Brinda,P
5,Parul,O
6,Usha,O
7,Ravi,O
8,Joe,O

Id,DebitType,Amount,Customer_Id
1,S,10,1
2,I,100,1
3,NULL,10,1
4,S,10,2
5,S,10,2
6,I,10,3
7,I,10,3
8,I,10,4
9,S,10,5
10,NULL,10,6
11,S,10,7
12,I,10,7
13,I,10,8

In [7]:
SELECT *
FROM debitorders dd
WHERE dd.customer_id IN(SELECT d.customer_id
                       FROM debitorders d
                            INNER JOIN customer c ON c.id=d.Customer_Id
                       GROUP BY d.customer_id
                       HAVING COUNT(*)>1)

Id,DebitType,Amount,Customer_Id
1,S,10,1
2,I,100,1
3,NULL,10,1
4,S,10,2
5,S,10,2
6,I,10,3
7,I,10,3
11,S,10,7
12,I,10,7

In [21]:
select * from DebitOrders dd where dd.Customer_Id in (SELECT Id FROM Customer c
WHERE EXISTS (select Customer_Id from DebitOrders d inner join Customer ON c.Id=d.customer_id where DebitType='S'))
and dd.DebitType='I'

Id,DebitType,Amount,Customer_Id
2,I,100,1
12,I,10,7

In [11]:
select Customer_Id from DebitOrders where DebitType='S'

Customer_Id
1
2
2
5
7